body {
  margin: 1rem;
}

.button-error {
  background: rgb(202, 60, 60);
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

#errors {
  padding-left: 1rem;
  background-color: aliceblue;
  font-family: monospace;
}

#code-editor {
  border: 1px solid #ddd;
  border-radius: 2px;
}