.header {
  background-color: #016F90;
  color: #efefef;
  position: relative;
  z-index: 8;
}

.header h2 {
  font-weight: 300;
}

.align-right {
  text-align: right;
}

#code-editor {
  border: 1px solid #ddd;
  border-radius: 2px;
}

#code-editor .CodeMirror span {
  font-family: monospace;
}